@font-face {
    font-family: 'vazir';
    src: url('../fonts/number/vazir.eot') format('eot');
    src : url('../fonts/number/vazir.ttf') format('ttf'),
    url('../fonts/number/vazir.woff') format('woff');
}

*{
    font-family: "vazir" !important;

}
body{
    font-family: "vazir" !important;
}